{% extends 'base.html' %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Profile</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <br/>
        <h1>{{ user.username }}</h1>
        <h2> Venues </h2>
        {% for venue in venueList %}
            <p>Venue Id -- {{ venue.venue_id }}</p>
            <p>Venue name -- {{ venue.venue_name }}</p>
            <p>-------------------------</p>
        {% endfor %}
        <p>
            *****************************************
        </p>
        <h2> Shows </h2>
        {% for show in showList %}
            <p>Show Id -- {{ show.show_id }}</p>
            <p>Show Name -- {{ show.show_name }}</p>
            <p>-------------------------</p>
        {% endfor %}
    </body>
    </html>
{% endblock %}