{% extends 'base.html' %}
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Venues</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <br/>
        <h1>Venues</h1>
        {% for venue in venueList %}
            <p>Venue Id -- {{ venue.venue_id }}</p>
            <p>Venue Name -- {{ venue.venue_name }}</p>
            <p>Venue Address -- {{ venue.venue_address }}</p>
            <p>Available Venue Capacity -- {{ venue.venue_capacity }}</p>
            <p>-------------------------</p>
        {% endfor %}
    </body>
    </html>
{% endblock %}